html, header, body, h1, ul, li{
  margin: 0;
  border: 0;
  padding: 0;

  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}
h1{
  padding: 50px;
  text-align: center
}

.hanoi{
  width: 900px;
  margin: 0 auto;
}

.cf::after{
  content: "";
  clear: both;
  display: block;
  box-sizing: border-box;
}

.disk-0{
  height: 50px;
  background-color: blue;
  border-radius: 20px;
  width: 60px;
}

.disk-1{
  height: 50px;
  background-color: blue;
  border-radius: 20px;
  width: 120px;
}

.disk-2{
  height: 50px;
  background-color: blue;
  border-radius: 20px;
  width: 200px;
}

ul{
  float:left;
  list-style-type: none;
  width: 200px;
  box-sizing: border-box;
  margin: 20px;
}

li {
  margin: 5px auto;
  line-height: 20px;
  height: 50px;
  background-color: white;
  width: inherit;
  border-radius: 10px;
}

ul::after {
  content: "";
  display: inline-block;
  background-color: blue;
  height: 10px;
  width: 200px;
}
